*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button {
    font-family: inherit !important;
    border-radius: 8px;
    padding: 8px 12px;
    border: 0;
    background-color: #eee;
    outline: 0;
    transition:
        background 100ms ease-in-out,
        outline 100ms ease-in-out;
}

input:hover,
button:hover {
    background-color: #f6f6f6;
    outline: 0;
}

input:active,
button:active {
    background-color: #e0e0e0;
    outline: 0;
}

input:focus-visible,
button:focus-visible {
    outline: 3px solid currentColor;
}

input[type="color"] {
    padding: 4px;
    background-color: #eee;
}

input[type="color"]::-moz-color-swatch,
input[type="color"]::-webkit-color-swatch {
    border: 0;
    border-radius: 4px;
}

html,
body,
main,
#app {
    width: 100%;
    height: 100%;
}
